# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*/bin/*
*/include/*
*/lib/python*/site-packages/*

# Environment variables
.env
.flaskenv

# Docker
!Dockerfile
.dockerignore
*.docker

# IDEs
.vscode/
.idea/

# Logs
*.log
logs/

# OS
.DS_Store
.Trash

# Rembg models
.u2net/
.isnet/
.silueta/

# Supabase
supabase/.temp/
supabase/db/
supabase/config.toml
